/* Background colors */

.dkpurplebg {
	background-color: #3f2d47;
}

.ltpurplebg {
	background-color: #62557c;
}


 /* Jumbotron styling */

.jumbotron {
	color: #fff;
}

/* Margins and padding */

.noBottomMargin {
	margin-bottom: 0px;
}

.topMargin60 {
	margin-top: 60px;
}

.topMargin40 {
	margin-top: 40px;
}

.padTop5 {
	padding-top: 5px;
}

/* Links */


/* Typography */

.textWhite {
	color: #fff;
}

.textBlack {
	color: #000;
}

.lgText {
	font-size: 1.5em;
}

.medLgText {
	font-size: 1.25em;
}

.medText {
	font-size: 1.17em;
}


/* Footer */

/* Border around info exchange sign up */
#infoExch {
	border: 1px solid;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-top: 1%;
}

/* Info Exch button */
.ieBtn {
	background-color: #3f2d47;
	color: #fff;	
}

.ieBtn:hover {
	background-color: #62557c;
	color: #fff;
}

/* Links below Info Exch sign up */
a.foot {
	text-decoration: none;
}

a.foot:hover {
	color: #ccc;
}

/* Feedback button */



/* Feedback bubble in footer */
#bubble {
	position: relative;
	width: 135px;
	height: 45px;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #62557c solid 2px;
}

#bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 22px 12px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -12px;
	bottom: -22px;
	left: 65%;
}

/* media queries */


    
 